<div id="homepage-block">
  <h1 class="homepage-title">welcome to <br><strong>hobbymate</strong></h1>
  <p class="homepage-tagline">find new hobbies and people to do them with in your area</p>
</div>

<div>
  <%= form_with url: categories_path, method: :GET do |f| %>
    <%= f.text_field :address, placeholder: 'enter your city' %>
    <p>Select categories you're interested in</p>
    <% @categories.each do |category| %>
      <%= f.label "categories[#{category.id}]", category.name %>
      <%= f.check_box "categories[#{category.id}]" %>
    <% end %>
    <%= f.submit 'Next' %>
  <% end %>
</div>
