<h2 class="m-4" style="color: white">Swipe to find your next hobbymate</h2>
<div class="d-flex mt-4 h-100">
  <div class="container">
    <div class="row justify-content-center h-100">
      <div class="col">
        <div class="user-card">
          <div class="user-card-image" style="background-image: url(<%= cl_image_path(@user.photo.key) %>)"></div>
            <div class="card-name">
              <h2 class="m-2"><%= @user.first_name %>, <%= @user.age %></h2>
              <div class="tags-hobby m-2 mt-4 d-flex flex-wrap justify-content-around mx-4">
                <% @user_hobby.each do |user_hobby| %>
                  <div class="tag-hobby"><p> <%=user_hobby.hobby.name%></p></div>
                <% end %>
              </div>
              <div class="m-2 mt-4" style="font-size: 16px"><p><%= @user.bio %></p></div>
              <div class="d-flex justify-content-between mt-3">
                <% if @match.persisted?%>
                  <%= simple_form_for @match do |f|  %>
                    <%= f.input :status, input_html: { value: "rejected" }, as: :hidden  %>
                    <%= f.input :receiver_id, input_html: { value: @user.id }, as: :hidden  %>
                    <%= f.submit "Pass", class: "btn btn-match-pass"%>
                  <% end %>
                  <%= simple_form_for @match do |f| %>
                    <%= f.input :status, input_html: { value: "accepted" }, as: :hidden  %>
                    <%= f.input :receiver_id, input_html: { value: @user.id }, as: :hidden  %>
                    <%= f.submit "Accept", class: "btn btn-match"%>
                  <% end %>
                <% else %>
                  <%= simple_form_for @match do |f| %>
                    <%= f.input :receiver_id, input_html: { value: @user.id }, as: :hidden  %>
                    <%= f.input :status, input_html: { value: "rejected" }, as: :hidden  %>
                    <%= f.submit "Pass", class: "btn btn-match-pass"%>
                  <% end %>
                  <%= simple_form_for @match do |f| %>
                    <%= f.input :receiver_id, input_html: { value: @user.id }, as: :hidden  %>
                    <%= f.input :status, input_html: { value: "pending"}, as: :hidden  %>
                    <%= f.submit "Accept", class: "btn btn-match" %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
