<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <% @categories.each do |category| %>
          <div class="cards-category">
            <h1 class=><%= category.name %></h1>
              <div class="category-hobbies">
                <div id="category-carousel-<%= category.id %>" class="carousel slide" data-bs-interval="false" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <% category.hobbies.each_slice(2).with_index do |hobby_pair, index| %>
                      <div class="carousel-item <%= "active" if index == 0  %>">
                          <div class="row">
                            <% hobby_pair.each do |hobby|  %>
                              <div class="col-6">
                                <%= render "hobby_card", hobby: hobby %>
                              </div>
                            <% end  %>
                        </div>
                      </div>
                    <% end %>
                  </div>
                  <%= render "carousel_controls", category: category %>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
